<a
  class="text-blueGray-500 block"
  href="#pablo"
  (click)="toggleDropdown($event)"
  #btnDropdownRef
>
  <div class="items-center flex">
    <span
      class="w-12 h-12 text-sm text-white bg-blueGray-200 inline-flex items-center justify-center rounded-full"
    >
      <img
        src="assets/img/images.png"
        alt="Avatar"
        style="width: 48px; height: 48px"
        class="shadow-lg rounded-full align-middle border-none"
      />
    </span>
  </div>
</a>
<div class="min-w-48 z-50" #popoverDropdownRef>
  <div
    class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1 min-w-48"
    [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'"
  >
    <a
      href="/admin/settings"
      class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
    >
      <i class="fas fa-user"></i><span>&nbsp;&nbsp;&nbsp;{{'HEADER.PERSONAL_INFORMATION' | translate}}</span>
    </a>
    <a
      class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700 cursor-pointer"
      (click)="logOut()"
    >
      <i class="fas fa-sign-in-alt"></i><span>&nbsp;&nbsp;&nbsp;{{'LOGIN.LOGOUT'| translate}}</span>
    </a>
  </div>
</div>
