<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-4/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
      >
        <div class="flex-auto px-4 lg:px-10 py-10 pt-4">
          <div class="uppercase text-center mb-3 font-bold">
            <small>{{'LOGIN.LOGIN' | translate}}</small>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                {{'LOGIN.USERNAME' | translate}}
              </label>
              <input
                type="text"
                #input
                formControlName="username"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Username"
                aria-describedby="usernameHelp"
              />
              <small
                id="usernameHelp"
                class="text-red-500"
                *ngIf="
                  loginForm.get('username')?.errors?.required &&
                  loginForm.get('username')?.touched
                "
                >{{'LOGIN.USERNAME_REQUIRED' | translate}}</small
              >
            </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
              {{'LOGIN.ROLE' | translate}}
              </label>
              <select
                class="form-select border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                aria-label="Default select example"
                formControlName="role"
                aria-describedby="roleHelp"
              >
                <option value="" disabled selected>{{'LOGIN.CHOOSE_ROLE' | translate}}</option>
                <option value="student">{{'LOGIN.CHOOSE_STUDENT' | translate}}</option>
                <option value="teacher">{{'LOGIN.CHOOSE_TEACHER' | translate}}</option>
                <option value="admin">{{'LOGIN.CHOOSE_ADMIN' | translate}}</option>
              </select>
              <small
                id="roleHelp"
                class="text-red-500"
                *ngIf="
                  loginForm.get('role')?.errors?.required &&
                  loginForm.get('role')?.touched
                "
                >{{'LOGIN.ROLE_REQUIRED' | translate}}</small
              >
            </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
              {{'LOGIN.PASSWORD' | translate}}
              </label>
              <input
                formControlName="password"
                type="password"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Password"
                aria-describedby="passwordHelp"
              />
              <small
                id="passwordHelp"
                class="text-red-500"
                *ngIf="
                  loginForm.get('password')?.errors?.required &&
                  loginForm.get('password')?.touched
                "
                >{{'LOGIN.PASSWORD_REQUIRED' | translate}}</small
              >
            </div>
            <!-- <div>
              <label class="inline-flex items-center cursor-pointer">
                <input
                  id="customCheckLogin"
                  type="checkbox"
                  class="form-checkbox border-0 text-blueGray-700 ml-1 w-5 h-5 ease-linear transition-all duration-150 rounded"
                />
                <span class="ml-2 text-sm font-semibold text-blueGray-600">
                  Remember me
                </span>
              </label>
            </div> -->

            <div class="text-center mt-6">
              <button
                class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                type="submit"
                [disabled]="loginForm.invalid"
              >
              {{'LOGIN.LOGIN' | translate}}
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="flex flex-wrap mt-6 relative justify-end">
        <!--        <div class="w-1/2">-->
        <!--          <a href="javascript:void(0)" class="text-blueGray-200">-->
        <!--            <small>Forgot password?</small>-->
        <!--          </a>-->
        <!--        </div>-->
        <div class="w-1/2 text-right">
          <a [routerLink]="['/auth/register']" class="text-blueGray-200">
            <small>{{'LOGIN.REGISTER' | translate}}</small>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
