<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-4/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
      >
        <div class="flex-auto px-4 lg:px-10 py-10 pt-4">
          <div class="uppercase text-center mb-3 font-bold">
            <small>{{'LOGIN.SIGN_UP' | translate}}</small>
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
            <div class="relative w-full mb-5">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                {{'LOGIN.USERNAME' | translate}}
              </label>
              <input
                type="text"
                #input
                formControlName="username"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Username"
                aria-describedby="usernameHelp"
              />
              <small
                id="usernameHelp"
                class="text-red-500 absolute top-70 left-0"
                *ngIf="
                  registerForm.get('username')?.errors?.required &&
                  registerForm.get('username')?.touched
                "
                >{{'LOGIN.USERNAME_REQUIRED' | translate}}</small
              >
            </div>

            <div class="relative w-full mb-5">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                {{'LOGIN.USER_ID' | translate}}
              </label>
              <input
                type="text"
                #input
                formControlName="userid"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="User ID"
                aria-describedby="useridHelp"
              />
              <small
                id="usernameHelp"
                class="text-red-500 absolute top-70 left-0"
                *ngIf="
                  registerForm.get('userid')?.errors?.required &&
                  registerForm.get('userid')?.touched
                "
                >{{'LOGIN.USERID_REQUIRED' | translate}}</small
              >
            </div>

            <div class="relative w-full mb-5">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
              {{'LOGIN.PASSWORD' | translate}}
              </label>
              <input
                formControlName="password"
                type="password"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Password"
                aria-describedby="passwordHelp"
              />
              <small
                id="passwordHelp"
                class="text-red-500 absolute top-70 left-0"
                *ngIf="
                  registerForm.get('password')?.errors?.required &&
                  registerForm.get('password')?.touched
                "
                >{{'LOGIN.PASSWORD_REQUIRED' | translate}}</small
              >
            </div>
            <div class="text-center mt-6">
              <button
                class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                type="submit"
                [disabled]="registerForm.invalid"
              >
              {{'LOGIN.SIGN_UP' | translate}}
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="flex flex-wrap mt-6 relative justify-end">
        <div class="w-1/2 text-right">
          <a [routerLink]="['/auth/login']" class="text-blueGray-200">
            <small>{{'LOGIN.LOGIN' | translate}}</small>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
