<body>
  <div class="form h-full relative">
    <div class="box justify-center flex-col flex absolute z-2">
      <h4 class="font-bold mb-24 uppercase text-center">
        {{ infoSchool?.school_name }}
      </h4>
      <h5 class="font-semibold text-center">
        {{ "DIPLOMAS.CONFERRED" | translate }}
      </h5>
      <h3 class="font-bold mb-4 text-center uppercase">
        {{ "DIPLOMAS.DEGREE_OF" | translate }}
      </h3>
      <h4 class="font-bold mb-24 uppercase text-center">
        {{ infoSchool?.department?.department_name }}
      </h4>
      <span class="mb-4 ml-5"
        >{{ "DIPLOMAS.UPON" | translate }}: {{ infoStudent?.full_name }}</span
      >
      <span class="mb-4 ml-5"
        >{{ "STUDENT.BIRTH_DAY" | translate }}:
        {{ infoStudent?.profile?.date_of_birth }}</span
      >
      <span class="mb-4 ml-5"
        >{{ "DIPLOMAS.YEAR_OF_GRADUATION" | translate }}:
        {{ infoDiplomas?.awarded_date }}</span
      >
      <span class="mb-4 ml-5"
        >{{ "DIPLOMAS.RANK" | translate }}:
        {{ infoDiplomas?.academic_ability }}</span
      >
      <span class="mb-24 ml-5">{{ "DIPLOMAS.MODE" | translate }}: </span>
      <div class="flex">
        <div>
          <span class="mb-4 ml-5"
            >{{ "DIPLOMAS.ID_GRADUATE_CERTIFICATION" | translate }}:
            {{ infoDiplomas?.id_graduate_certification }}</span
          >
        </div>
        <div class="grid">
          <span class="mb-4 ml-5 text-center"
            >{{ infoDiplomas?.awarded_place }} ,
            {{ infoDiplomas?.graduate_certification_date }}</span
          >
          <span class="mb-4 ml-5">{{ infoDiplomas?.degree_awarder }}</span>
        </div>
      </div>
    </div>
    <div class="border relative mt-4">
      <div class="cruve one absolute"></div>
      <div class="cruve two absolute"></div>
      <div class="cruve three absolute"></div>
      <div class="cruve four absolute"></div>
    </div>
  </div>
</body>
